{% extends "base.html" %}

{% block title %}ホーム{% endblock %}

{% block extra_styles %}
<style>
    .hero {
        background-image: url('{{ url_for('static', filename='equipment_pics/pexels-mikhail-nilov-6620420.jpg') }}');
        background-size: cover;
        background-position: center;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
    }

    .hero-content {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2rem;
        border-radius: 10px;
    }

    .hero h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .hero p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .hero a {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        background-color: #3498db;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .hero a:hover {
        background-color: #2980b9;
    }

    @media (max-width: 768px) {
        .hero {
            height: 400px;
        }

        .hero h1 {
            font-size: 2.5rem;
        }

        .hero p {
            font-size: 1rem;
        }
    }
</style>
{% endblock %}

{% block content %}
<div id="home" class="hero">
    <div class="hero-content">
        <h1>Quiver Keeper</h1>
        <p>あなたのための備品管理サイト</p>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('equipment_list') }}">備品を探す</a>
        {% else %}
            <a href="{{ url_for('register') }}">アカウント登録をする</a>
        {% endif %}
    </div>
</div>

<div id="services" class="services">
    <div class="service-text">
        <h2>備品を追加</h2>
        <p>忘れないうちに，あなたの道具を登録しましょう！！</p>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('add_equipment') }}">備品を追加</a>
        {% else %}
            <a href="{{ url_for('login') }}">ログイン</a>
        {% endif %}
    </div>
    <div class="service-image">
        
    </div>
</div>
{% endblock %}