{% extends "base.html" %}

{% block title %}ホーム{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<!-- ヒーローセクション -->
<div id="home" class="hero">
    <div class="hero-content">
        <h1>Quiver Keeper</h1>
        <p>あなたのための備品管理サイト</p>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('equipment_list') }}">備品を探す</a>
        {% else %}
            <a href="{{ url_for('register') }}">アカウント登録をする</a>
        {% endif %}
    </div>
</div>

<!-- サービスセクション -->
<div id="services" class="services">
    <div class="service-text">
        <h2>備品を追加</h2>
        <p>忘れないうちに，あなたの道具を登録しましょう！！</p>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('add_equipment') }}">備品を追加</a>
        {% else %}
            <a href="{{ url_for('login') }}">ログイン</a>
        {% endif %}
    </div>
    <div class="service-image">
        
    </div>
</div>
{% endblock %}